/* My variables */
:root {
    --backgroundcolor: rgb(44, 129, 219);
    ;
}

/* Generic attributes*/
* {
    margin: 0;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(118, 173, 245);
}

header {
    padding: 30px 10%;
    font-size: large;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10%;
}

.nav-item {
    font-size: large;
}